[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpclib = "*"
protobuf = "*"

[dev-packages]
grpcio = "*"
grpcio-tools = "*"
tox = "*"

[scripts]
hello = "echo hello"
helloworld_protoc = "python -m grpc_tools.protoc -I. --python_out=. --python_grpc_out=. helloworld/helloworld.proto"
xcodebuild_protoc = "python -m grpc_tools.protoc -I. --python_out=. --python_grpc_out=. xcodebuild/xcodebuild.proto"
test = "pytest"
rmdist = "rm -fr dist"
compile = "python setup.py sdist bdist_wheel"
upload = "twine upload dist/* -r local"

[requires]
python_version = "3.7"
